<!DOCTYPE html>
<html>
  <head>
    <title>Web</title>
    <%= favicon %>
  </head>
  <body>
    <p>
      Value of flash[:info]:
      <%= local(:flash)[:info] || "(nothing at all)" %>
    </p>

    <p>
      Value of flash.empty?:
      <%= local(:flash).empty? %>
    </p>

    <%= yield %>
  </body>
</html>
